name: Build

on:
  release:
    types: [created]
    
jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Compile
        run: make
      - uses: actions/upload-artifact@v2
        with:
          name: Linux
          path: main